@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --bg1:#FCECA8;
    --bg2:#FFFBEC;
    --text: #4C3D3D;
    --text1: rgba(19, 21, 22, 0.60);
    --htext: #FFFBEC;
}

h1{
    margin: 50px 0;
    letter-spacing: 1.08px;
    font-size: 36px;
    font-weight: 600;
}

h2{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

h3{
    font-size:21px;
    font-weight: 400;
}

body{
    margin:0;
    background-color: var(--bg1);
    color:var(--text);
    /* padding-top: 0; */
    font-family:'Lexend Exa';
}

a{
    text-decoration:none;
    color:inherit;
    color:var(--text1);
    padding: 16px 20px;
}

header{
    position: fixed;
    background-color: var(--bg1);
    display:flex;
    height: 120px;
    justify-content: center;
    width: 100%;
}

.nav-container{
    display:flex;
    justify-content: space-between;
    font-family: 'Lexend Exa';
    font-size: 1em;
    font-weight:400;
    width: 80%;
}

.links{
    display:flex;
    align-items:center;
    font-weight: 400;
    gap: 12px;
}

#intro{
    background-image:url("Vector\ 1.svg");
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order{
    border-radius: 32px;
    background-color:#000;
    color:var(--htext);
}

.intro-container{
    position: relative;
    margin: 0;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-content: center;
}

.intro-text{
    width:500px;
    font-weight: 400;
    text-align: center;
}